<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My To-do list</title>
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cutive&display=swap" rel="stylesheet"> 

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/regular.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/solid.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/brands.min.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <h1> My To Do List</h1>

    </header>
    <section>
        <ul>
            <% for (let i = 0; i < info.length; i++){ %>
                <%if (info[i].deleted == false){ %> 

                        <li class="item"> 
                            <i class="fa-regular <%=info[i].completed == false ? 'fa-square not-checked' : 'fa-square-check checked'%>"></i>
                            <i class="fa-solid fa-arrows-rotate task-update"></i>
                            <i class="fa-solid fa-circle-chevron-down"></i>
                            <input class = "text-input <%=info[i].completed == false ? 'uncompleted':'completed'%>" type="text" value="<%=info[i].todoItem%>" data-id="<%=info[i]._id%>">
                            <i class="fa-solid fa-trash"></i>
                            <ul class="subtasks">
                                <% info[i].subtasks.forEach(subtask => { %>
                                    <li class="subtask" style="padding-left:60px;">
                                        <i class="fa-regular <%=info[i].completedSubtasks.includes(subtask) ? 'fa-square-check subtask-square subtask-checked' : 'fa-square subtask-square subtask-not-checked'%>"></i>
                                        <i class="fa-solid fa-arrows-rotate st-update"></i>
                                        <input class = "subtask text-input <%=info[i].completedSubtasks.includes(subtask) ? 'completed' : 'uncompleted'%>" value="<%=subtask%>" autocomplete="off">
                                        <i class="fa-solid fa-xmark"></i>
                                    </li>
                                <%})%>
                            </ul>
                            
                        </li>

                <% } // If deleted end%>
            <% } // For loop end%>
        </ul>
        <section>
        <form method="POST" action="/postItem">
            <input class="submit-button" type="submit" value="+">
            <input class="text-input" type="text" name="todoItem" autocomplete="off" required><br>
        </form>
        </section>
    </section>
    
    <script src="/js/main.js"></script>
</body>
</html>